@font-face {
    font-family: 'space';
    src: url(space.ttf), format(truetype);
    font-display: swap;
}

body {
    text-align: center;
    display: block;
}

.header {
    font-family: 'space', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: rgb(158, 91, 91);
}

/* Base styling for mobile control buttons */
#mobile-controls button {
    background-color: hotpink; 
    color: white; 
    border: none; 
    padding: 15px 32px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 4px; 
}

/* Position the mobile controls div */
#mobile-controls {
    position: fixed; 
    left: 50%; 
    bottom: 10px; 
    transform: translateX(-50%); 
    display: none; /* Hidden by default */
}

/* Show the controls on mobile devices */
@media screen and (max-width: 600px) {
    #mobile-controls {
        display: block;
    }
}
